<div class="container col-xl-10 col-xxl-8 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">
        <img 
          src="/images/logo_full.png"
          alt="Logo"
          height="55"
          style="object-fit: contain; display: block">
      </h1>
      <p class=" fs-5">
       What's next? Ich sag dir what's next: What's Next ist what's next. What's Next ist die Zukunft. <br />
       Wer nicht mit der Zeit geht, geht mit der Zeit. Ohne What's Next bist du Vergangen.<br />
       Mit What's Next bist du wo noch keiner ist. <br />
       Frauen begehren dich, Männer wollen so sein wie du. <br />
       Kinder fragen wo sie dich in Miniatur als Actionfigur kaufen können, weil du einfach so verfickt geil bist.<br /> 
       What's Next holt dich aus der endlosen void der Bedeutungslosigkeit. <br />
       Kauf What's Next oder stirb.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form action="login.ejs" method="post" class="p-4 p-md-5 border rounded-3 bg-dark text-white shadow">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control bg-secondary"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control bg-secondary"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg custom-primary" type="submit">
          Sign up
        </button>
        <small style="color: gray"
          >Du hast noch keinen Account? <a href="register">Erstellen</a></small
        >
        <hr class="my-2" />
        <small style="color: gray"
          >By clicking Sign up, you agree to the terms of use.</small
        >
      </form>
    </div>
  </div>
</div>
