<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">

    <!-- Linker Textblock -->
    <div class="col-lg-6 text-white">
      <h1 class="display-5 fw-bold lh-1 mb-3">Anmeldung</h1>
      <p class="fs-5">Noch kein Konto? <a href="register">Registriere dich hier.</a> </p>
    </div>

    <!-- Bootstrapisiertes Loginformular -->
    <div id="loginSection" class="col-md-10 mx-auto col-lg-6">
      <form action="login.ejs" method="post" class="p-4 p-md-5 border rounded-3 bg-dark text-white shadow">
        <div class="form-floating mb-3">
          <input type="text" class="form-control bg-secondary text-white border-0" id="usernameInput" placeholder="Benutzername" required/>
          <label for="usernameInput">Benutzername</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control bg-secondary text-white border-0" id="passwordInput" placeholder="Passwort" required/>
          <label for="passwordInput">Passwort</label>
        </div>

        <div class="d-flex justify-content-between">
          <button type="button" id="loginBtn" class="btn btn-primary custom-primary">Anmelden</button>
        </div>
      </form>
    </div>

  </div>
</div>
