<header
      class="header-container d-flex align-items-center justify-content-between py-3 px-4  border-bottom"
      style="background-color: var(--primary)"
    >
      
      <!-- Logo -->
      <a
        class="d-flex align-items-center text-decoration-none"
        style="margin-right: auto"
      >
        <img
          src="/images/logo_full.png"
          alt="Logo"
          height="40"
          style="object-fit: contain; display: block"
        />
      </a>
      <!-- Nav Links -->
      <ul class="nav nav-pills header-nav d-none d-md-flex">
        <li class="nav-item">
          <a href="login" class="nav-link text-white">Login</a>
        </li>
        <li class="nav-item">
          <a href="register" class="nav-link text-white">Register</a>
        </li>
      </ul>
    </header>