<div class="container my-5">
  <div class="row align-items-center">
    
    <!-- Bild links -->
    <div class="col-md-4 text-center">
      <img src="images/Konzern.png" class="img-fluid" alt="Konzernbild" />
    </div>

    <!-- Text rechtsbündig daneben -->
    <div class="col-md-8 text-lg-start">
      <p>
        Niemand liest die AGBs. Solltest du jemanden von diesem Inhalt erzählen,
        gibst du zu, dass du anders bist als alle anderen, dass du aus der Reihe tanzt
        und kommst hochnäsig und überheblich rüber. Jeder wird dich hassen und du wirst
        aus jedweder sozialen Gruppierung ausgeschlossen, deine Karriere im Betrieb ist
        somit vorbei. Arbeite weiter, hier ist nichts passiert.
      </p>
    </div>

  </div>
</div>
